{% extends 'app/base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h2>{{ vaga.titulo_vaga }}</h2>
        <span class="badge bg-primary">{{ vaga.modalidade }}</span>
    </div>
    <div class="card-body">
        <h4><strong>Empresa:</strong> {{ vaga.empresa }}</h4>
        <h5 class="text-success my-3"><strong>Salário:</strong> € {{ vaga.salario }}</h5>
        
        <hr>
        <h5>Requisitos e Descrição:</h5>
        <p style="white-space: pre-line;">{{ vaga.requisitos }}</p>
        
        <hr>
        <button class="btn btn-success btn-lg" onclick="alert('Candidatura enviada com sucesso!')">Candidatar a esta Vaga</button>
        <a href="{% url 'lista_vagas' %}" class="btn btn-secondary btn-lg ms-2">Voltar</a>
    </div>
</div>
{% endblock %}